# Игнорировать скомпилированные Python файлы (*.pyc)
*.pyc

# Игнорировать папки с кэшом Python
__pycache__/

# Игнорировать файлы с переменными окружения
.env

# Игнорировать виртуальное окружение Python
venv/

# Игнорировать файлы логов
*.log

# Игнорировать папку с собранными пакетами (например, wheel/dist)
dist/

# Игнорировать папку со сборкой проекта
build/
